/*Google fonts*/ 
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Body - Love running code*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Ysabeau Office", sans-serif;
}

h1, h2, h3 {
    font-family: "Chivo", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #252525;
}

/* Header - Love running code*/
header {
    background-color: #ffffff;
    width: 100%;
    z-index: 99;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 2px 2px;
}

.pad{
    padding: 0 1rem;
}
header a {
    text-decoration: none;
    color: inherit;
}
header h1 {
    font-size: 150%;
}
main {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin-top: 65px;
}

/* Cover image - Adpated from Love running*/
#cover-img {
    height: 550px;
    width: 100%;
    background:url("../images/cover-img.png") no-repeat 25% center/cover;
    position: relative;
}

#cover-text {
    position: absolute;
    background-color: rgba(115, 133, 113, 0.5);
    border-radius: 50%;
    font-size: 100%;
    width: 80%;
    min-height: 100px;
    top: 100px;
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
}

#cover-text h2, #cover-text h3 {
    color: #fafafab8;
}

/* Menu - Love running code*/
nav {
    text-decoration: none;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
}

#banner {
    background-color: #738571;
    display: flex;
}

#navvi {
    display: flex;
}

#navvi > li {
    color: #ffffff;
    display: block;
    list-style-type: none;
    padding-right: 2rem;
}

.section-title {
    background-color: #738571;
}

.section-title > h2 {
    color: #fafafab8;
    margin: 10px;
    text-align: center;
    font-size: 140%;
}

#locale-img {
    height: 300px;
    width: 100%;
    background:url("../images/isle.jpeg") no-repeat center center/cover;
    position: relative;
}

#textbox {
    display: flex;
    flex-direction: column;
}

#text-img > p {
    top: 20px;
    left: 20px;
    padding: 10px;
    text-align: center;
    color: #fafafa;
    font-size: 120%;
    position: relative;
    width: 80%;
    background-color: rgba(115, 133, 113, 0.5);
    border-radius: 25px;
}

#pin-drop h3 {
    color: #fafafab8;
    position: absolute;
    font-size: 100%;
    flex-basis: 100px;
    bottom: 20px;
    left: 10px;
}

#pin-drop a {
    text-decoration: none;
    color: #fafafa;
}

#guide {
    display: flex;
    flex-direction: column;
    position: relative;
}

.cliff{
    height: 300px;
    width: 100%;
    background:url("../images/slieve.jpeg") no-repeat center center/cover;
    border: 2px solid #738571;
}

.light {
    height: 300px;
    width: 100%;
    background:url("../images/fanad.jpeg") no-repeat center center/cover;
    border: 2px solid #738571;
}

.valley {
    height: 300px;
    width: 100%;
    background:url("../images/glengesh.jpeg") no-repeat center center/cover;
    border: 2px solid #738571;
}

.park {
    height: 300px;
    width: 100%;
    background:url("../images/glen.webp") no-repeat center center/cover;
    border: 2px solid #738571;
}

.guide-name {
    text-align: center;
    padding: 40px 0;
}

.guide-name a {
    color: #3a3a3a;
    text-decoration: none;
}

/* Social Media Icons - Love Running*/
#socials {
    padding: 10px 0;
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 120%;
}

#socials i {
    font-size: 150%;
    color: #3a3a3a;
}

#signup h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

/*Form - Love Running*/

#signup-form {
    color:#ffffff;
    background-color: rgba(115, 133, 113, 0.5);
    padding: 30px;
}
.text-input {
    background: transparent;
    color: #fafafa;
    border: 1px solid #fafafa;
    margin: 5px 0 20px 0;
    border-radius: 2px;
    height: 25px;
    width: 100%;
    padding:0 5px;
}

#radio-buttons {
    size: 100%;
    display: flex;  
    justify-content: space-between;
}

.join-button {
    color: #fafafa;
    background-color: #454b1b;
    font-size: 100%;
    border-radius: 2px;
    margin-top: 20px;
    padding:15px 32px;
}

footer {
    background-color: #738571;
    display: flex;
}

@media screen and (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    #cover-text {
        width: 40%;
        right: 20px;
    }

    nav {
        position: relative;
        width: 38%;
    }

    #navvi > li {
        font-size: 125%;
    }

    main {
        margin-top: 43px;
    }

    #locale-img {
        width: 100%;
    }

    /*Form - Love Running*/
    #news {
        background-position: center;
        position: relative;
        padding: 0 35%;
    }

    #signup-form {
        max-width: 400px;
        position: relative;
        border-radius: 25px;
        margin: 10px 0;
    }

}

@media screen and (min-width: 992px) {
    header {
        display: flex;
        font-size: 150%;
        padding-top: 10px;
    }

    nav {
        position: relative;
        width: 40%;
    }

    #cover-text {
        width: 25%;
    }

    main {
        margin-top: 30px;
    }

    #locale-img {
        width: 100%;
        display: flex;
    }

    #guide {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}