/*Google fonts*/ 
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Ysabeau Office", sans-serif;
}

h1, h2, h3 {
    font-family: "Chivo", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Header - Love running code*/
header {
    background-color: #ffffff;
    width: 100%;
    padding: 0 1rem;
    z-index: 99;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    top: 1rem;
    box-shadow: 0 2px 2px;
}
header a {
    text-decoration: none;
    color: inherit;
}
header h1 {
    font-size: 150%;
}
main {
    background-color: aquamarine;
    display: flex;
    flex: 1 0 auto;
    margin-top: 65px;
}

/* Cover image - Adpated from Love running*/
#cover-img {
    height: 550px;
    width: 100%;
    background:url("../images/cover-img.png") no-repeat 25% center/cover;
    position: relative;
}

#cover-text {
    position: absolute;
    background-color: rgba(181, 227, 175, 0.5);
    border-radius: 50%;
    font-size: 100%;
    width: 80%;
    min-height: 100px;
    top: 100px;
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
}

/* Menu - Love running code*/
nav {
    text-decoration: none;
    position: relative;
    width: fit-content;
    
}

#navvi {
    display: flex;
}

#navvi > li {
    color: #ffffff;
    display: block;
    list-style-type: none;
    padding-right: 2rem;
    background-color: #738571;
}

footer {
    background-color: darkgreen;
    display: flex;
}

@media screen and (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    nav {
        position: relative;
    }

    #navvi > li {
        font-size: 125%;
    }

    main {
        margin-top: 46px;
    }

    
}

@media screen and (min-width: 992px) {
    header {
        display: flex;
    }
}